<div *ngIf="selectedRecipe$ | async as selectedRecipe; else selectRecipeText">
  <div class="row">
    <div class="col-sm-12">
      <img
        [src]="selectedRecipe.imagePath"
        [alt]="selectedRecipe.name"
        class="img-fluid img-thumbnail"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>{{ selectedRecipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button
          class="btn btn-outline-primary"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Manage Recipes
          <span class="caret"></span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem (click)="onAddToShoppingList(selectedRecipe.ingredients)">
            To Shopping List
          </button>
          <button ngbDropdownItem>Edit Recipe</button>
          <button ngbDropdownItem>Delete Recipe</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      {{ selectedRecipe.description }}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of selectedRecipe.ingredients"
        >
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #selectRecipeText>
  <p>Please Select a Recipe</p>
</ng-template>
