<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span (click)="loginFb()"
            ><i class="fab fa-facebook-square"></i
          ></span>
          <span (click)="loginGoogle()"
            ><i class="fab fa-google-plus-square"></i
          ></span>
          <span (click)="loginEmail()"
            ><i class="fab fa-twitter-square"></i
          ></span>
        </div>
      </div>
      <div class="card-body">
        <form novalidate (ngSubmit)="loginEmail()" [formGroup]="signInForm">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="email"
              formControlName="email"
            />
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              type="password"
              class="form-control"
              placeholder="password"
              formControlName="password"
            />
          </div>
          <div class="row align-items-center remember">
            <input type="checkbox" />Remember Me
          </div>
          <div class="form-group">
            <input
              type="submit"
              value="Login"
              class="btn float-right primary_btn"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account? &nbsp;<a routerLink="../sign-up">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center">
          <a>Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
  <span class="error" *ngIf="error">{{ error }}</span>
</div>
