/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-content-space-between {
  align-content: space-between;
}

.align-content-center {
  align-content: center;
}

.max-width {
  width: 100%;
}

a,
button,
.pointer {
  cursor: pointer;
}
